<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="globalPackagesFolder" value="packages" />
    <add key="repositoryPath" value="packages" />
  </config>
  
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="dotnet-public" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet10/nuget/v3/index.json" />
  </packageSources>
  
  <packageSourceMapping>
    <!-- dotnet-public: preview/pre-release Microsoft packages -->
    <packageSource key="dotnet-public">
      <package pattern="Microsoft.*" />
      <package pattern="System.*" />
      <package pattern="NETStandard.*" />
    </packageSource>
    <!-- nuget.org: all packages including stable releases and Aspire -->
    <packageSource key="nuget.org">
      <package pattern="Aspire.*" />
      <package pattern="Microsoft.*" />
      <package pattern="System.*" />
      <package pattern="NETStandard.*" />
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
  
  <disabledPackageSources />
  
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
</configuration>